<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestion des Entrepôts</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <!-- Barre de navigation (navbar) -->
    <div class="navbar">
        <div>
            <a href="/">Accueil</a>
            <a href="#">Entrepôt 1</a>
            <a href="#">Entrepôt 2</a>
            <a href="#">Entrepôt 3</a>
        </div>    
    </div>

    <input class="hamburger" type="checkbox" id="votre_id" tabindex="0">
    <label for="votre_id" aria-label="Menu"></label>

    <nav>

        <ul>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 1</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 2</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 3</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 4</span></a></li>
            <li><a tabindex="0" href="/JSON"><span class="hover-underline-animation">JSON</span></a></li>
        </ul>

    </nav>

    <!-- Contenu de la page principale -->
    <div class="container">
        <h1>Gestion des Entrepôts</h1>
        <p>Bienvenue sur la plate-forme de gestion des entrepôts de notre entreprise.</p>
        <p>Ici, vous pouvez accéder et gérer les informations pour chaque entrepôt.</p>

        <!-- Insérez ici le contenu spécifique à la gestion des entrepôts -->
    </div>

    <div class="entrepot-container">
        <div class="entrepot">
            <a href="EntrepotNY.html">
            <img src="/img/NY.jpg" alt="New York">
            </a>
            <a href="EntrepotParis.html">
            <img src="/img/Paris.jpg" alt="Paris">
            </a>
            <a href="EntrepotLondres.html">
            <img src="/img/Londres.jpg" alt="Londres">
            </a>
            <% entrepots.forEach(function(entrepot) { %>
                <a href="Entrepot/<%=entrepot.id%>">
                <img href="<%= entrepot.lieu_image %>">
                </a>
            <% }); %>
        </div>
    </div>

    

    <footer>
        <p>&copy; 2023 Mon Entreprise. Tous droits réservés.</p>
    </footer>
</body>
</html>
