<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestion des Entrepôts</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <!-- Barre de navigation (navbar) -->
    <div class="navbar">
        <div>
            <a href="/">Accueil</a>
            <a href="#">Entrepôt NY</a>
            <a href="#">Entrepôt Paris</a>
            <a href="#">Entrepôt Londres</a>
            <a href="/"><img class="pack" src="../img/packages.png" alt=""></a>
        </div>    
    </div>

    <input class="hamburger" type="checkbox" id="votre_id" tabindex="0">
    <label for="votre_id" aria-label="Menu"></label>

    <nav>

        <ul>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 1</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 2</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 3</span></a></li>
            <li><a tabindex="0" href="#!"><span class="hover-underline-animation">Rubrique 4</span></a></li>
            <li><a tabindex="0" href="/JSON"><span class="hover-underline-animation">JSON</span></a></li>
        </ul>

    </nav>

    <!-- Contenu de la page principale -->
    <div class="all_container">

        <div class="container_txt">
            <h1>Gestion des Entrepôts</h1>
            <p> Notre plateforme de gestion des entrepôts et des stocks est l'épine dorsale de notre service.<br> 
                Grâce à cette plateforme innovante, vous pouvez gérer en temps réel l'inventaire de vos produits, suivre les mouvements, et optimiser la distribution à partir de nos entrepôts mondiaux.<br> 
                Notre technologie avancée vous donne un contrôle total sur vos stocks, vous permettant ainsi d'optimiser vos opérations logistiques et de réduire les coûts.
            </p>
        </div>
    
        <div class="entrepot-container">
            
            <% entrepots.forEach(function(entrepot) { %>
                <div class="entrepot">
                    <a href="/Entrepot/<%= entrepot.id %>">
                        <img class="img_entrepot" src="<%= entrepot.lieux_image %>" alt="Image de la ville">
                    </a>
                    <p class="name"><%= entrepot.name %></p>
                </div>
            <% }); %>
        </div>
        
    </div>

    

    <footer>
        <p>&copy; 2023 Mon Entreprise. Tous droits réservés.</p>
    </footer>
</body>
</html>
