*{
    margin: 0;
}

/************************** Initialisation **********************/

html{
    overflow: hidden;
}

/************************** Style pour la navbar **********************/

.navbar {
    background-color: #ff6600;
    overflow: hidden;
}
.navbar div{
    margin-left: 90px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 35px 80px;
    text-decoration: none;
    transition: background-color 0.3s ease ;
}

.navbar a:hover {
    background-color: #ddd;
    color: #ff6600;
}

/* Styles pour la page principale */
.container {
    padding: 20px;
}

/* Styles spécifiques à la page principale */
h1 {
    color: #333;
}

p {
    font-size: 16px;
}



*,*::before,*::after{box-sizing: border-box}

/*************ICONE HAMBURGER*******************/
input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}	
		
.hamburger+label{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
    position: fixed;
    top:20px;
    left:20px;
    z-index:99;
    background:#fff;
    border-radius: 9999px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.4)
}
		
.hamburger+label span {
    background: #ea9c53;
    width: 40px;
    height: 5px;
    position: relative;
}
		
.hamburger+label span::before, 
.hamburger+label span::after {
    position: absolute;
    background: #6753ea;
    width: inherit;
    height: inherit;
    content: "";
}
	
.hamburger+label span::before {
    top: -10px;
}
.hamburger+label span::after {
    top: 10px;
}
	
.hamburger:checked+label span {
    background: transparent;
}
	
.hamburger:checked+label span::after,
.hamburger:checked+label span::before {
    top: 0;
}
	
.hamburger:checked+label span::before {
    transform: rotate(45deg);
}
	
.hamburger:checked+label span::after {
    transform: rotate(-45deg);
}
/*************ICONE HAMBURGER*******************/



/*************MENU SLIDE*******************/
nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: min(50%,300px);
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    will-change: transform;
    z-index: 8;
}

nav ul{
    list-style-type: none;
    padding-left:0;	
    margin-top: 8rem;   
}
	
nav ul li{
    margin: 25px;
}	

ul > li:hover > a > span {
    color: white;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff8800;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

ul a:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav a {
    font-size:1.4rem;
    color:white;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
}
	
.hamburger:checked+label~ nav{ 
    transform: unset; /*on revient à l'état initial*/
}

.hamburger:checked+label~ nav a {
    visibility: visible;
    opacity: 1;
}

/*************MENU SLIDE*******************/


/*************Accessibilité*******************/
.hamburger:focus-visible~label,
nav a:focus-visible,
nav a:focus {
    outline: 2px solid #ff8800;
    outline-offset: 4px;
}
	
.hamburger:not(:focus-visible)~label,nav a:not(:focus):focus-visible{
    outline: none;
}	
	
.hamburger:not(:focus-visible):focus~label{
	box-shadow: 0 0 0 4px #ff8800
}
	
@media (prefers-reduced-motion: no-preference) {
    .hamburger+label span {transition: background 10ms 300ms;}
    .hamburger+label span::before, 
    .hamburger+label span::after{transition: top 300ms 350ms, transform 300ms 50ms;}
    .hamburger:checked+label span::after,
    .hamburger:checked+label span::before {transition: top 300ms 50ms, transform 300ms 350ms;}	
        
    .hamburger:focus-visible~label,nav a:focus-visible,
    nav a:focus  {transition: outline-offset .25s ease;}
        
    nav{transition: transform 0.5s;}
    nav a{transition: visibility 500ms,opacity 500ms 300ms;}
}

/*************Accessibilité*******************/


/************************** Styles pour le container **********************/

.container{
    position: absolute;
    flex-direction: column;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container div{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
}

/************************ Styles pour le JSON ***********************/

.container-json {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clickable-json a{
    text-decoration: none;
    color: #000000;
}

.clickable-json {
    width: 400px;
    padding: 20px;
    border: 2px solid rgb(255, 181, 129);
    text-align: center;
    cursor: pointer;
    margin: 10px;
    transition: ease-in-out 0.2s;
}
.clickable-json:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/************************** Styles pour l'entrepot **********************/

img{
    width: 20%;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.entrepot {
    text-align: center;
    position: absolute;
    top: 35%;
    /* margin-bottom: 20px; */
  }

.entrepot a {
    font-style: none;
}

/************************** Styles pour le Footer **********************/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
footer p {
    margin: 0;
}
  